html {
    height: 100%;
}

.tab-bar {
    width:400px;
}
.tab{
    margin-bottom: 20px;
}

.login-box {
    width: 400px;
    padding: 10px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
    border-radius: 2px;
}

.login-box h2 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: .5s;
}

input[type=submit] {
    background-color: #4CAF50;
    width: 400px;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: -10px;
    text-decoration: none;
    cursor: pointer;
}